.main {
  width: 343px;
  background: #24232c;
  display: flex;
  flex-direction: column;
  padding: 21px 16px 16px 16px;
  margin-top: 16px;
}
.text-number {
  display: flex;
  justify-content: space-between;
}
.character-length {
  color: #e6e5ea;
  font-size: 20px;
  width: 100%
}
.numbers {
  color: #a4ffaf;
  font-size: 34px;
  font-weight: 700;
  background: #24232c;
  border: none;
  width: 20%;
  margin-top: -10px;
  margin-left: 85px;
  height: 42px;
}
input[type="range"] {
  -webkit-appearance: none;
  background: rgba(255, 255, 255, 0.6);
  background-size: 50% 100%;
  width: 100%;
  height: 9px;
  background-image: linear-gradient(#a4ffaf, #a4ffaf);
  background-repeat: no-repeat;
  margin-top: 15px;
}
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  background: #e6e5ea;
  cursor: ew-resize;
  background-position: 50% 50%;
  cursor: pointer;
}
input[type="range"]::-webkit-slider-thumb:hover {
  background: #18171f;
  border: 2px solid #A4FFAF;
}
.boxes {
  display: flex;
  flex-direction: column;
  margin-top: 32px;
  row-gap: 16px;
}
.first-box, .second-box, .third-box, .fourth-box {
  width: 20px;
  height: 20px;
  background-color: #24232c;
  border: 2px solid #e6e5ea;
}
.box:hover {
  border: 2px solid #a4ffaf; 
  background: #18171F;

}
.first,
.second,
.third,
.fourth {
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.text {
  align-items: center;
  color: #e6e5ea;
  font-size: 20px;
  font-weight: 700;
}
.dark-box {
  padding: 14px;
  width: 100%;
  display: flex;
  background-color: #18171f;
  margin-top: 32px;
}
.strength {
  color: #817d92;
  display: flex;
  align-items: center;
  font-size: 16px;
  font-weight: 700;
}
.text-and-scale {
  text-align: right;
  margin-left: auto;
  display: flex;
  flex-direction: row;
  gap: 8px;
}
.scale {
  color: #e6e5ea;
  font-size: 16px;
  font-weight: 700;
  display: flex;
  align-items: center;
}
.colored-boxes {
  width: 10px;
  height: 28px;
  border: 2px solid #e6e5ea;
  background: #24232c;
}
.generate-part {
  background: #a4ffaf;
  display: flex;
  padding: 18px 0;
  position: relative;
  cursor: pointer;
  color: #24232c;
  font-size: 16px;
  font-weight: 700;
  width: 100%;
  margin-top: 28px;
  justify-content: center;
  over
}
.generate-part:hover{
  background-color: #24232C;
  border: 2px solid #A4FFAF;
  color: #A4FFAF;
}
.icon-arrow{
    position: absolute;
    left: 210px;
    top: 22px
}
.generate-part:hover .icon-arrow path{
  fill: #a4ffaf;
}
@media (min-width:768px){

  .main{
    width: 540px;
  }
  .character-length{
    font-size: 22px;
   position: absolute;
  }
  .first-box, .second-box, .third-box, .fourth-box{
    margin-top: 4px;
  }
  .text{
    font-size: 22px;
  }
  .icon-arrow{
    margin-left: 100px;
    margin-top: 0px;
  }
  .dark-box{
    height: 72px;
  }
  .text-and-scale{
    display: flex;
    align-items: center;
  }
  .generate-part{
    margin-bottom: 15px;
  }
  .numbers{
    text-align: right;
    margin-left: auto;
  }
}