.main {
  width: 343px;
  background: #24232c;
  display: flex;
  flex-direction: column;
  padding: 21px 16px 16px 16px;
  margin-top: 16px;
}
.text-number {
  display: flex;
  justify-content: space-between;
}
.character-length {
  color: #e6e5ea;
  font-size: 20px;
  width: 100%;
}
.numbers {
  color: #a4ffaf;
  font-size: 34px;
  font-weight: 700;
  background: #24232c;
  border: none;
  width: 20%;
  margin-top: -10px;
  margin-left: 85px;
  height: 42px;
}
input[type="range"] {
  -webkit-appearance: none;
  background: rgba(255, 255, 255, 0.6);
  background-size: 50% 100%;
  width: 100%;
  height: 9px;
  background-image: linear-gradient(#a4ffaf, #a4ffaf);
  background-repeat: no-repeat;
  margin-top: 15px;
}
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  background: #e6e5ea;
  cursor: ew-resize;
  
  background-position: 50% 50%;
  cursor: pointer;
}
input[type="range"]::-webkit-slider-thumb:hover {
  background: #18171f;
  border: 2px solid #a4ffaf;
}
.boxes {
  display: flex;
  flex-direction: column;
  margin-top: 32px;
  row-gap: 16px;
}
.checkbox {
  width: 20px;
  height: 20px;
  background-color: #24232c;
  border: 2px solid #e6e5ea;
}
.box:hover {
  border: 2px solid #a4ffaf;
  background: #18171f;
}
.container-box {
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.text {
  align-items: center;
  color: #e6e5ea;
  font-size: 20px;
  font-weight: 700;
}
.dark-box {
  padding: 14px;
  width: 100%;
  display: flex;
  background-color: #18171f;
  margin-top: 32px;
}
.strength {
  color: #817d92;
  display: flex;
  align-items: center;
  font-size: 16px;
  font-weight: 700;
}
.text-and-scale {
  text-align: right;
  margin-left: auto;
  display: flex;
  flex-direction: row;
  gap: 8px;
}
.scale {
  color: #E6E5EA;
  text-align: right;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  display: flex;
  align-items: center;
}
.colored-boxes {
  width: 10px;
  height: 28px;
  border: 2px solid #e6e5ea;
  background: #24232c;
}
.a {
  background-color: #F64A4A;
  border: none;
}
.b{
  background-color: #FB7C58;
  border: none;
}
.c{
  background-color: #F8CD65;
  border: none;
}
.d{
  background-color: #A4FFAF;
  border: none;
}
.generate-part {
  background: #a4ffaf;
  display: flex;
  padding: 18px 0;
  position: relative;
  cursor: pointer;
  color: #24232c;
  font-size: 16px;
  font-weight: 700;
  width: 100%;
  margin-top: 28px;
  justify-content: center;
}
.generate-part:hover {
  background-color: #24232c;
  border: 2px solid #a4ffaf;
  color: #a4ffaf;
}
.icon-arrow {
  position: absolute;
  left: 210px;
  top: 22px;
}
.generate-part:hover .icon-arrow path {
  fill: #a4ffaf;
}
.checkbox {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.custom-checkbox {
  width: 20px;
  height: 20px;
  border: 2px solid white;
  background: #24232c;
  margin-top: 4px;
}

.checkbox:checked + .custom-checkbox {
  background: #a4ffaf;
  border: none;
  background-image: url(../../assets/icon-check.svg);
  background-repeat: no-repeat;
  background-position: center;
}
@media (min-width: 768px) {
  .main {
    width: 540px;
  }
  .character-length {
    font-size: 22px;
    position: absolute;
  }
  .checkbox {
    margin-top: 4px;
  }
  .scale{
    font-size: 22px;
  }
  .text {
    font-size: 22px;
  }
  .icon-arrow {
    margin-left: 100px;
    margin-top: 0px;
  }
  .dark-box {
    height: 72px;
  }
  .text-and-scale {
    display: flex;
    align-items: center;
  }
  .generate-part {
    margin-bottom: 15px;
  }
  .numbers {
    text-align: right;
    margin-left: auto;
  }
}
