.generator-background {
  background: #24232c;
  width: 343px;
  height: 64px;
  padding: 10px 22px 10px 16px;
  margin-top: 16px;
  display: flex;
  justify-content: space-between;
}
.input {
  width: 80%;
  height: 100%;
  color: #E6E5EA;
  opacity: 0.25;
  background: #24232c;
  border: 1px solid #24232c;
  font-feature-settings: "clig" off, "liga" off;
  font-size: 24px;
  outline: none;
  margin-top: 8px;
}
.copy-icon {
  margin-top: 10px;
  cursor: pointer;
}
.copy-icon:hover path{
  fill: white;
}
@media (min-width: 768px) {
  .generator-background {
    width: 540px;
    margin-top: 30px;
  }
}
