.generator-background {
  background: #24232c;
  width: 343px;
  height: 64px;
  padding: 10px 22px 10px 16px;
  margin-top: 16px;
  display: flex;
  justify-content: space-between;
}
.input {
  width: 80%;
  height: 100%;
  color: #e6e5ea;
  background: #24232c;
  border: none;
  font-feature-settings: "clig" off, "liga" off;
  font-size: 24px;
}
.copy-icon{
margin-top: 13px;
}