@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@700&family=Josefin+Sans&family=Kumbh+Sans&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Kumbh Sans", sans-serif;
}
body {
  min-height: 100vh;
  background: linear-gradient(180deg, #14131b 0%, #08070b 100%);
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  width: 100%;
}
